@import url('https://fonts.googleappis.com/css2?family=Poppins/wght@400;600;800&display=swap');
:root{
    --blanche:#ffff;
    --noir:#222;
    --primaire:#007bc4;
    --gri:#888;
}
,
::before,
::after{
    margin: 0;
    margin: 0;
    box-sizing: inherit;
}